export CONFIG_PATH=.

export DB_HOST=localhost
export DB_PORT=8086
export DB_USER=root
export DB_PASSWORD=root
export DB_NAME=fitbit

export CLIENT_ID=XXXXXX
export CLIENT_SECRET=<hex_string>
export ACCESS_TOKEN=<super_log_access_token>
export REFRESH_TOKEN=<refresh_token>
export EXPIRES_AT=604800
export CALLBACK_URL=http://localhost:8080/
export UNITS=None
